<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="stylePage.css" rel="stylesheet" />
  <title>Профком</title>
</head>

<body>
  <div class="grid-center">
    <div class=" inputForm container">
      <div class="row">
        <div class="input-field  col s10 offset-s1">
          <input type="text" id="password" required class="validate" />
          <label for="password">Почта</label>
        </div>
      </div>
      <div class="row ">
        <div class="input-field  col s10 offset-s1">
          <input type="password" id="password" password required class="validate" />
          <label for="password">Пароль</label>
        </div>
      </div>
      <div class="row center">
        <a href="DBPage.html" class="modal-close  waves-effect  btn-large">Вход</a>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script></script>
</body>

</html>